chartNodeRed.js
[{"id":"1d4f3e38.c7b242","type":"http in","z":"4c14b581.d7054c","name":"Teste","url":"/teste","method":"get","upload":false,"swaggerDoc":"","x":62,"y":31,"wires":[["fdab5a1b.26ecd8"]],"outputLabels":["teste"],"info":"# teste"},{"id":"6090a24.054a75c","type":"debug","z":"4c14b581.d7054c","name":"Teste","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":692,"y":238,"wires":[]},{"id":"b6f927d.78e24d8","type":"http response","z":"4c14b581.d7054c","name":"","statusCode":"","headers":{},"x":687,"y":183,"wires":[]},{"id":"d5e441a.780f5c","type":"function","z":"4c14b581.d7054c","name":"mergePayload","func":"msg.payload = \"<html><head>\" +\n  msg.scriptGoogleChart +\n  msg.graficoBarras +\n  msg.graficoRosca +\n  msg.graficoOdometro +\n  \"</head>\" +\n  \"<body>\" +\n  msg.bodyChart +\n  \"</body>\" +\n  \"</html>\";\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":182,"wires":[["6090a24.054a75c","b6f927d.78e24d8"]]},{"id":"6c8f57b5.2e9da8","type":"template","z":"4c14b581.d7054c","name":"Gráfico Rosca","field":"graficoRosca","fieldType":"msg","format":"handlebars","syntax":"plain","template":"\n <script type=\"text/javascript\">\n      google.charts.load(\"current\", {packages:[\"corechart\"]});\n      google.charts.setOnLoadCallback(drawChart);\n      function drawChart() {\n        var data = google.visualization.arrayToDataTable([\n          ['Task', 'Hours per Day'],\n          ['Work',     11],\n          ['Eat',      2],\n          ['Commute',  2],\n          ['Watch TV', 2],\n          ['Sleep',    7]\n        ]);\n\n        var options = {\n          chartArea:{left:200,top:0},\n          pieHole: 0.4,\n          legend: 'none'\n        };\n\n        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));\n        chart.draw(data, options);\n      }\n    </script>\n","output":"str","x":436,"y":94,"wires":[["2491c029.9dc41"]]},{"id":"4ad40809.146a58","type":"template","z":"4c14b581.d7054c","name":"Gráfico de Barras","field":"graficoBarras","fieldType":"msg","format":"handlebars","syntax":"plain","template":"\n<script type=\"text/javascript\">\n      google.charts.load('current', {'packages':['bar']});\n      google.charts.setOnLoadCallback(drawChart);\n\n      function drawChart() {\n        var data = google.visualization.arrayToDataTable([\n          ['Year', 'Sales', 'Expenses', 'Profit'],\n          ['2014', 1000, 400, 200],\n          ['2015', 1170, 460, 250],\n          ['2016', 660, 1120, 300],\n          ['2017', 1030, 540, 350]\n        ]);\n\n        var options = {\n          chart: {\n            title: 'Company Performance',\n            subtitle: 'Sales, Expenses, and Profit: 2014-2017',\n          }\n        };\n\n        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));\n\n        chart.draw(data, google.charts.Bar.convertOptions(options));\n      }\n    </script>\n","output":"str","x":205,"y":94,"wires":[["6c8f57b5.2e9da8"]]},{"id":"fdab5a1b.26ecd8","type":"template","z":"4c14b581.d7054c","name":"Script GoogleChart","field":"scriptGoogleChart","fieldType":"msg","format":"handlebars","syntax":"plain","template":"\n    <script type=\"text/javascript\" src=\"https://www.gstatic.com/charts/loader.js\"></script>\n","output":"str","x":309,"y":30,"wires":[["4ad40809.146a58"]]},{"id":"2491c029.9dc41","type":"template","z":"4c14b581.d7054c","name":"Grafico Odometro","field":"graficoOdometro","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<script type=\"text/javascript\">\n      google.charts.load('current', {'packages':['gauge']});\n      google.charts.setOnLoadCallback(drawChart);\n\n      function drawChart() {\n\n        var data = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['Memory', 80],\n          ['CPU', 55],\n          ['Network', 68]\n        ]);\n\n        var options = {\n          chartArea:{left:200,top:0},\n          width: 400, height: 120,\n          redFrom: 90, redTo: 100,\n          yellowFrom:75, yellowTo: 90,\n          minorTicks: 5\n        };\n\n        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));\n\n        chart.draw(data, options);\n\n        setInterval(function() {\n          data.setValue(0, 1, 40 + Math.round(60 * Math.random()));\n          chart.draw(data, options);\n        }, 13000);\n        setInterval(function() {\n          data.setValue(1, 1, 40 + Math.round(60 * Math.random()));\n          chart.draw(data, options);\n        }, 5000);\n        setInterval(function() {\n          data.setValue(2, 1, 60 + Math.round(20 * Math.random()));\n          chart.draw(data, options);\n        }, 26000);\n      }\n    </script>\n\n    \n","output":"str","x":654,"y":93,"wires":[["d7f63191.09111"]]},{"id":"d7f63191.09111","type":"template","z":"4c14b581.d7054c","name":"Corpo dos Gráficos","field":"bodyChart","fieldType":"msg","format":"handlebars","syntax":"plain","template":"\n<div style='float: left; padding: 20px;'   >     \n    <div id=\"columnchart_material\" style=\"width: 500px; height: 500px;\"></div>\n</div>\n\n<div style='float: left; padding: 20px;'   > \n    <div id=\"donutchart\" style=\"width: 500px; height: 300px;\"></div>\n    <div id=\"chart_div\" style=\" padding-left: 160px; width: 500px; height: 200px;\"></div>\n</div>\n\n","output":"str","x":204,"y":181,"wires":[["d5e441a.780f5c"]]}]
