nodered_start.json
[{"id":"524babab.3ad134","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eb5189af.012b08","type":"debug","z":"524babab.3ad134","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":535,"y":337,"wires":[]},{"id":"fce21fb7.1e7d4","type":"inject","z":"524babab.3ad134","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":145,"y":337,"wires":[["a05ddc25.79f82"]]},{"id":"a05ddc25.79f82","type":"function","z":"524babab.3ad134","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":337,"wires":[["eb5189af.012b08"]]},{"id":"6f158a02.83b154","type":"inject","z":"524babab.3ad134","name":"make request","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":153,"y":205,"wires":[["a81bfaee.0e3b28","a05ddc25.79f82"]]},{"id":"a81bfaee.0e3b28","type":"http request","z":"524babab.3ad134","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www1.folha.uol.com.br/ultimas-noticias/","tls":"","proxy":"","x":278.5,"y":82,"wires":[["6b0651b8.42887"]]},{"id":"4a36f19c.388d9","type":"debug","z":"524babab.3ad134","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":694,"y":50,"wires":[]},{"id":"6b0651b8.42887","type":"html","z":"524babab.3ad134","name":"","property":"","outproperty":"","tag":".c-headline--newslist","ret":"text","as":"multi","x":478.5,"y":104,"wires":[["4a36f19c.388d9","2cafdf30.2a4e7"]]},{"id":"2cafdf30.2a4e7","type":"ui_template","z":"524babab.3ad134","group":"581031a3.a4c94","name":"","order":1,"width":"6","height":"12","format":"<div ng-repeat=\"row in msg.payload\">\n    {{row}}\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":704,"y":177,"wires":[[]]},{"id":"581031a3.a4c94","type":"ui_group","z":"","name":"Teste","tab":"bed52ba7.21c838","disp":true,"width":"6","collapse":false},{"id":"bed52ba7.21c838","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
